Repository python/cpython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ezio-melotti, @hugovk, @AlexWaygood, @erlend-aasland, @corona10, @1st1, @asvetlov, @gvanrossum, @kumaraditya303, @willingc, @markshannon, @brandtbucher, @rhettinger, @methane, @JelleZijlstra, @iritkatriel, @isidentical, @Fidget-Spinner, @ericsnowcurrently, @serhiy-storchaka, @gpshead, @tiran, @vsajip, @brettcannon, @ncoghlan, @warsaw, @jaraco, @FFY00, @pganssle, @abalkin, @python/email-team, @pablogsal, @lysnikolaou, @cjw296, @berkerpeksag, @encukou, @python/windows-team, @ericvsmith, @pfmoore, @pradyunsg, @terryjreedy, @giampaolo, @ethanfurman, @hauntsaninja, @python/macos-team, @barneygale, @mhsmith, @freakboy3742, @sethmlarson

Update Doc/library/string.templatelib.rst
  Doc/library/string.templatelib.rst
Owners: none

Fixes for test_dis with -OO flag
  Lib/test/test_dis.py
Owners: none

gh-136591: avoid using deprecated features for OpenSSL 3.0+ (#136592)
  Misc/NEWS.d/next/Library/2025-07-12-18-05-37.gh-issue-136591.ujXmSN.rst
  Modules/_hashopenssl.c
Owners: none

Update Doc/library/string.templatelib.rst
  Doc/library/string.templatelib.rst
Owners: none

Polishing.
  Modules/_datetimemodule.c
Owners: @pganssle, @abalkin

Regular expression has been slightly rewritten
  Lib/test/test_dis.py
Owners: none

Fix for optimizer_generator to run correctly with -OO
  Tools/cases_generator/optimizer_generator.py
Owners: @markshannon

Fix test_ast to work with -OO
  Lib/test/test_ast/test_ast.py
Owners: none

Better use of ..describe per @encukou.
  Doc/library/string.templatelib.rst
Owners: none

test: update test assertion for line wrapping in email messages
  Lib/email/contentmanager.py
  Lib/test/test_email/test_message.py
Owners: @python/email-team

Update Doc/library/string.templatelib.rst
  Doc/library/string.templatelib.rst
Owners: none

gh-136306: Address additional review comments
  Lib/test/test_ssl.py
  Modules/_ssl.c
Owners: none

Add requested changes
  Lib/test/test_traceback.py
Owners: @iritkatriel

Remove t-string tutorial (for now)
  Doc/library/string.templatelib.rst
  Doc/tutorial/inputoutput.rst
Owners: none

Fix test_ast to work with -OO 2
  Lib/test/test_ast/test_ast.py
Owners: none

Update Doc/whatsnew/3.15.rst
  Doc/whatsnew/3.15.rst
Owners: none

gh-101100: Fix sphinx warnings in Doc/library/platform.rst (GH-136562)
  Doc/library/platform.rst
  Doc/tools/.nitignore
Owners: none

gh-101100: Fix sphinx warnings in Doc/library/platform.rst (GH-136562) (cherry picked from commit 47b01da4ccedd9c00fad4325b3e87d7732abeb6d)
  Doc/library/platform.rst
  Doc/tools/.nitignore
Owners: none

gh-101100: Fix sphinx warnings in Doc/library/platform.rst (GH-136562) (cherry picked from commit 47b01da4ccedd9c00fad4325b3e87d7732abeb6d)
  Doc/library/platform.rst
  Doc/tools/.nitignore
Owners: none

[3.14] gh-101100: Fix sphinx warnings in Doc/library/platform.rst (GH-136562) (GH-136597)
  Doc/library/platform.rst
  Doc/tools/.nitignore
Owners: none

[3.13] gh-101100: Fix sphinx warnings in Doc/library/platform.rst (GH-136562) (GH-136598)
  Doc/library/platform.rst
  Doc/tools/.nitignore
Owners: none

Add checks that cipher() and group() return None on handshake failure
  Lib/test/test_ssl.py
Owners: none

Add requested changes
  Doc/whatsnew/3.15.rst
  Lib/test/test_traceback.py
  Objects/dictobject.c
Owners: @iritkatriel, @methane, @markshannon

simplify patch, fix test robustness to running env
  Lib/test/support/os_helper.py
  Lib/test/test_wave.py
  Lib/wave.py
  Misc/NEWS.d/next/Library/2025-07-11-03-39-15.gh-issue-136523.s7caKL.rst
Owners: none

Add requested changes
  Doc/whatsnew/3.15.rst
Owners: none

Fix doc indentation issue
  Doc/whatsnew/3.15.rst
Owners: none

fix test on Windows by catching OSError
  Lib/test/test_wave.py
Owners: none

test updates: assert open raises, use curdir, rename
  Lib/test/test_wave.py
Owners: none

update NEWS
  Misc/NEWS.d/next/Library/2025-07-11-03-39-15.gh-issue-136523.s7caKL.rst
Owners: none

Add test for long_hash
  Lib/test/test_long.py
Owners: none

Unroll first digit calculation in long_hash
  Objects/longobject.c
Owners: none

Unroll second digit calculation in long_hash
  Objects/longobject.c
Owners: none

Add a signature for FrameLocalsProxy()
  Lib/test/test_inspect/test_inspect.py
  Objects/frameobject.c
Owners: @markshannon

whitespace
  Lib/test/test_long.py
Owners: none

add gh number
  Lib/test/test_long.py
Owners: none

Address more reviewer feedback: add conditional to adaptive find, tweak comments, drop extremely marginal "test"
  Lib/test/string_tests.py
  Misc/NEWS.d/next/Core_and_Builtins/2025-04-16-12-01-13.gh-issue-127971.pMDOQ0.rst
  Objects/stringlib/fastsearch.h
Owners: none

Improve tests for type flags to prevent regressions
  Lib/test/test_class.py
Owners: none

Update Lib/test/test_pdb.py
  Lib/test/test_pdb.py
Owners: none

revive `test_flags`
  Lib/test/test_class.py
Owners: none

PEP 8
  Lib/test/test_class.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# GitHub
.github/**                    @ezio-melotti @hugovk

# pre-commit
.pre-commit-config.yaml       @hugovk @AlexWaygood
.ruff.toml                    @hugovk @AlexWaygood

# Build system
configure*                    @erlend-aasland @corona10

# asyncio
**/*asyncio*                  @1st1 @asvetlov @gvanrossum @kumaraditya303 @willingc

# Core
**/*context*                  @1st1
**/*genobject*                @markshannon
**/*hamt*                     @1st1
**/*jit*                      @brandtbucher
Objects/set*                  @rhettinger
Objects/dict*                 @methane @markshannon
Objects/typevarobject.c       @JelleZijlstra
Objects/type*                 @markshannon
Objects/codeobject.c          @markshannon
Objects/frameobject.c         @markshannon
Objects/call.c                @markshannon
Python/ceval*.c               @markshannon
Python/ceval*.h               @markshannon
Python/compile.c              @markshannon @iritkatriel
Python/assemble.c             @markshannon @iritkatriel
Python/flowgraph.c            @markshannon @iritkatriel
Python/ast_opt.c              @isidentical
Python/bytecodes.c            @markshannon
Python/optimizer*.c           @markshannon
Python/optimizer_analysis.c   @Fidget-Spinner
Python/optimizer_bytecodes.c  @Fidget-Spinner
Lib/test/test_patma.py        @brandtbucher
Lib/test/test_type_*.py       @JelleZijlstra
Lib/test/test_capi/test_misc.py  @markshannon
Tools/c-analyzer/             @ericsnowcurrently

# dbm
**/*dbm*                      @corona10 @erlend-aasland @serhiy-storchaka

# runtime state/lifecycle
**/*pylifecycle*              @ericsnowcurrently
**/*pystate*                  @ericsnowcurrently
**/*preconfig*                @ericsnowcurrently
**/*initconfig*               @ericsnowcurrently
**/*pathconfig*               @ericsnowcurrently
**/*sysmodule*                @ericsnowcurrently
**/*bltinmodule*              @ericsnowcurrently
**/*gil*                      @ericsnowcurrently
Include/internal/pycore_runtime.h   @ericsnowcurrently
Include/internal/pycore_interp.h    @ericsnowcurrently
Include/internal/pycore_tstate.h    @ericsnowcurrently
Include/internal/pycore_*_state.h   @ericsnowcurrently
Include/internal/pycore_*_init.h    @ericsnowcurrently
Include/internal/pycore_atexit.h    @ericsnowcurrently
Include/internal/pycore_freelist.h  @ericsnowcurrently
Include/internal/pycore_global_objects.h  @ericsnowcurrently
Include/internal/pycore_obmalloc.h  @ericsnowcurrently
Include/internal/pycore_pymem.h     @ericsnowcurrently
Modules/main.c                @ericsnowcurrently
Programs/_bootstrap_python.c  @ericsnowcurrently
Programs/python.c             @ericsnowcurrently
Tools/build/generate_global_objects.py  @ericsnowcurrently

# Exceptions
Lib/traceback.py              @iritkatriel
Lib/test/test_except*.py      @iritkatriel
Lib/test/test_traceback.py    @iritkatriel
Objects/exceptions.c          @iritkatriel
Python/traceback.c            @iritkatriel

# Hashing
**/*hashlib*                  @gpshead @tiran
**/*pyhash*                   @gpshead @tiran
**/sha*                       @gpshead @tiran
Modules/md5*                  @gpshead @tiran
**/*blake*                    @gpshead @tiran
Modules/_blake2/**            @gpshead @tiran
Modules/_hacl/**              @gpshead

# logging
**/*logging*                  @vsajip

# venv
**/*venv*                     @vsajip

# Launcher
/PC/launcher.c                @vsajip

# HTML
/Lib/html/                    @ezio-melotti
/Lib/_markupbase.py           @ezio-melotti
/Lib/test/test_html*.py       @ezio-melotti
/Tools/build/parse_html5_entities.py   @ezio-melotti

# Import (including importlib).
**/*import*                   @brettcannon @ericsnowcurrently @ncoghlan @warsaw
/Python/import.c              @kumaraditya303
Python/dynload_*.c            @ericsnowcurrently
**/*freeze*                   @ericsnowcurrently
**/*frozen*                   @ericsnowcurrently
**/*modsupport*               @ericsnowcurrently
**/*modulefinder*             @ericsnowcurrently
**/*moduleobject*             @ericsnowcurrently
**/*multiphase*               @ericsnowcurrently
**/*pkgutil*                  @ericsnowcurrently
**/*pythonrun*                @ericsnowcurrently
**/*runpy*                    @ericsnowcurrently
**/*singlephase*              @ericsnowcurrently
Lib/test/test_module/         @ericsnowcurrently
Doc/c-api/module.rst          @ericsnowcurrently
**/*importlib/resources/*     @jaraco @warsaw @FFY00
**/*importlib/metadata/*       @jaraco @warsaw

# Dates and times
**/*datetime*                 @pganssle @abalkin
**/*str*time*                 @pganssle @abalkin
Doc/library/time.rst          @pganssle @abalkin
Lib/test/test_time.py         @pganssle @abalkin
Modules/timemodule.c          @pganssle @abalkin
Python/pytime.c               @pganssle @abalkin
Include/internal/pycore_time.h  @pganssle @abalkin

# Email and related
**/*mail*                     @python/email-team
**/*smtp*                     @python/email-team
**/*mime*                     @python/email-team
**/*imap*                     @python/email-team
**/*poplib*                   @python/email-team

# Garbage collector
/Modules/gcmodule.c           @pablogsal
/Doc/library/gc.rst           @pablogsal

# Parser
/Parser/                      @pablogsal @lysnikolaou
/Tools/peg_generator/         @pablogsal @lysnikolaou
/Lib/test/test_peg_generator/ @pablogsal @lysnikolaou
/Grammar/python.gram          @pablogsal @lysnikolaou
/Lib/tokenize.py              @pablogsal @lysnikolaou
/Lib/test/test_tokenize.py    @pablogsal @lysnikolaou

# Code generator
/Tools/cases_generator/        @markshannon

# AST
Python/ast.c                  @isidentical
Parser/asdl.py                @isidentical
Parser/asdl_c.py              @isidentical
Lib/ast.py                    @isidentical

# Mock
/Lib/unittest/mock.py         @cjw296
/Lib/test/test_unittest/testmock/* @cjw296

# multiprocessing
**/*multiprocessing*          @gpshead

# SQLite 3
**/*sqlite*                   @berkerpeksag @erlend-aasland

# subprocess
/Lib/subprocess.py            @gpshead
/Lib/test/test_subprocess.py  @gpshead
/Modules/*subprocess*         @gpshead

# Limited C API & stable ABI
Tools/build/stable_abi.py     @encukou
Misc/stable_abi.toml          @encukou
Doc/data/*.abi                @encukou
Doc/c-api/stable.rst          @encukou

# Windows
/PC/                          @python/windows-team
/PCbuild/                     @python/windows-team

# Urllib
**/*robotparser*              @berkerpeksag

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team

# Misc
**/*itertools*                @rhettinger
**/*collections*              @rhettinger
**/*random*                   @rhettinger
**/*bisect*                   @rhettinger
**/*heapq*                    @rhettinger
**/*functools*                @rhettinger
**/*decimal*                  @rhettinger

**/*dataclasses*              @ericvsmith

**/*ensurepip*                @pfmoore @pradyunsg

**/*idlelib*                  @terryjreedy
/Doc/library/idle.rst         @terryjreedy

**/*typing*                   @JelleZijlstra @AlexWaygood

**/*ftplib                    @giampaolo
**/*shutil                    @giampaolo

**/*enum*                     @ethanfurman
**/*cgi*                      @ethanfurman
**/*tarfile*                  @ethanfurman

**/*tomllib*                  @encukou @hauntsaninja

**/*sysconfig*                @FFY00

**/*cjkcodecs*                @corona10

# macOS
/Mac/                         @python/macos-team
**/*osx_support*              @python/macos-team

# pathlib
**/*pathlib*                  @barneygale

# zipfile.Path
**/*zipfile/_path/*           @jaraco

# Argument Clinic
/Tools/clinic/**              @erlend-aasland
/Lib/test/test_clinic.py      @erlend-aasland
Doc/howto/clinic.rst          @erlend-aasland

# Subinterpreters
**/*interpreteridobject.*     @ericsnowcurrently
**/*crossinterp*              @ericsnowcurrently
Lib/test/support/interpreters/  @ericsnowcurrently
Modules/_interp*module.c      @ericsnowcurrently
Lib/test/test_interpreters/   @ericsnowcurrently

# Android
**/*Android*                  @mhsmith @freakboy3742
**/*android*                  @mhsmith @freakboy3742

# iOS (but not termios)
**/iOS*                       @freakboy3742
**/ios*                       @freakboy3742
**/*_iOS*                     @freakboy3742
**/*_ios*                     @freakboy3742
**/*-iOS*                     @freakboy3742
**/*-ios*                     @freakboy3742

# WebAssembly
/Tools/wasm/                  @brettcannon

# SBOM
/Misc/externals.spdx.json     @sethmlarson
/Misc/sbom.spdx.json          @sethmlarson
/Tools/build/generate_sbom.py @sethmlarson

# Config Parser
Lib/configparser.py           @jaraco
Lib/test/test_configparser.py @jaraco

# Colorize
Lib/_colorize.py              @hugovk
Lib/test/test__colorize.py    @hugovk
